[submodule "code"]
	path = code
	url = git@github.com:dorianmariecom/code.git
[submodule "code-ruby"]
	path = code-ruby
	url = git@github.com:dorianmariecom/code-ruby.git
[submodule "coif1plus.fr"]
	path = coif1plus.fr
	url = git@github.com:dorianmariecom/coif1plus.fr.git
[submodule "dorian"]
	path = dorian
	url = git@github.com:dorianmariecom/dorian.git
[submodule "dorian-all"]
	path = dorian-all
	url = git@github.com:dorianmariecom/dorian-all.git
[submodule "dorian-anonymize"]
	path = dorian-anonymize
	url = git@github.com:dorianmariecom/dorian-anonymize.git
[submodule "dorian-anonymize-json"]
	path = dorian-anonymize-json
	url = git@github.com:dorianmariecom/dorian-anonymize-json.git
[submodule "dorian-anonymize-yaml"]
	path = dorian-anonymize-yaml
	url = git@github.com:dorianmariecom/dorian-anonymize-yaml.git
[submodule "dorian-dot"]
	path = dorian-dot
	url = git@github.com:dorianmariecom/dorian-dot.git
[submodule "dorian-each"]
	path = dorian-each
	url = git@github.com:dorianmariecom/dorian-each.git
[submodule "dorian-git-ls-ruby-files"]
	path = dorian-git-ls-ruby-files
	url = git@github.com:dorianmariecom/dorian-git-ls-ruby-files.git
[submodule "dorian-git-tree"]
	path = dorian-git-tree
	url = git@github.com:dorianmariecom/dorian-git-tree.git
[submodule "dorian-parallel"]
	path = dorian-parallel
	url = git@github.com:dorianmariecom/dorian-parallel.git
[submodule "dorian-pretty"]
	path = dorian-pretty
	url = git@github.com:dorianmariecom/dorian-pretty.git
[submodule "dorian-release"]
	path = dorian-release
	url = git@github.com:dorianmariecom/dorian-release.git
[submodule "dorian-replace"]
	path = dorian-replace
	url = git@github.com:dorianmariecom/dorian-replace.git
[submodule "dorian-shuffle"]
	path = dorian-shuffle
	url = git@github.com:dorianmariecom/dorian-shuffle.git
[submodule "dorian-sort-json"]
	path = dorian-sort-json
	url = git@github.com:dorianmariecom/dorian-sort-json.git
[submodule "dorian-sort-yaml"]
	path = dorian-sort-yaml
	url = git@github.com:dorianmariecom/dorian-sort-yaml.git
[submodule "dorian-times"]
	path = dorian-times
	url = git@github.com:dorianmariecom/dorian-times.git
[submodule "dorian-to_struct"]
	path = dorian-to_struct
	url = git@github.com:dorianmariecom/dorian-to_struct.git
[submodule "dorian-top"]
	path = dorian-top
	url = git@github.com:dorianmariecom/dorian-top.git
[submodule "dorian-yaml-compare"]
	path = dorian-yaml-compare
	url = git@github.com:dorianmariecom/dorian-yaml-compare.git
[submodule "dorian-yaml-read-write"]
	path = dorian-yaml-read-write
	url = git@github.com:dorianmariecom/dorian-yaml-read-write.git
[submodule "dorianmarie.com"]
	path = dorianmarie.com
	url = git@github.com:dorianmariecom/dorianmarie.com.git
[submodule "dorianmarie.fr"]
	path = dorianmarie.fr
	url = git@github.com:dorianmariecom/dorianmarie.fr.git
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:dorianmariecom/dotfiles.git
[submodule "language-ruby"]
	path = language-ruby
	url = git@github.com:dorianmariecom/language-ruby.git
[submodule "template-ruby"]
	path = template-ruby
	url = git@github.com:dorianmariecom/template-ruby.git
[submodule "dorian-dir"]
	path = dorian-dir
	url = git@github.com:dorianmariecom/dorian-dir.git
[submodule "jobs"]
	path = jobs
	url = git@github.com:dorianmariecom/jobs.git
